body{
      background-color: rgb(75, 75, 179);
}
.tbr{
      border: 2px solid rgb(140, 211, 18);
}
header{
      height: 100px;
}
.mainbody{
      min-height: 800px;
}
footer{
      height: 200px;
      background-color: white;
}
.ulmenu > li > a{
      padding: 50px 30px 20px 30px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
}
.active{
      color: yellow !important;
}
.lftext > li {
      margin-left: -18px !important;
}
.textclolor *{
      color:black;
}
.panel{
      height: 180px;
      background: rgb(152, 152, 235)
}
.panel:hover{
      height: 360px;
      background: rgb(198, 198, 237);
      cursor: pointer;   
}
.panel:hover > div{
      height: 180px;
      display: block !important;  
}
.panel11{
      height: 180px;
      background: rgb(220, 11, 60)
}